<a href="https://colab.research.google.com/github/ANJIBABU1623/Pyhon-files/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [ ]:
print(2/2)

1.0

In [ ]:
a=input("enter a number")
print(a)

enter a number3
3

In [ ]:
a=input("enter a number")
print("a")

enter a number3
a

In [ ]:
a="anji"
print(a)
type(a)

anji

str

In [ ]:
a=2
b=4
c=a+b
print(c)
d=a*b
print(d)
e=b-a
print(e)

6
8
2

In [ ]:
a = 21
b = 10
if ( a == b ):
 print ("Line 1 - a is equal to b")
else:
 print ("Line 1 - a is not equal to b")
if ( a != b ):
 print ("Line 2 - a is not equal to b")
else:
 print ("Line 2 - a is equal to b")
if ( a < b ):
 print ("Line 3 - a is less than b" )
else:
 print ("Line 3 - a is not less than b")
if ( a > b ):
 print ("Line 4 - a is greater than b")
else:
 print ("Line 4 - a is not greater than b")
a,b=b,a #values of a and b swapped. a becomes 10, b becomes 21
if ( a <= b ):
 print ("Line 5 - a is either less than or equal to b")
else:
 print ("Line 5 - a is neither less than nor equal to b")
if ( b >= a ):
 print ("Line 6 - b is either greater than or equal to b")
else:
 print ("Line 6 - b is neither greater than nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to b
Line 6 - b is either greater than or equal to b

In [ ]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]
if ( a in list ):
 print ("Line 1 - a is available in the given list")
else:
 print ("Line 1 - a is not available in the given list")
if ( b not in list ):
 print ("Line 2 - b is not available in the given list")
else:
 print ("Line 2 - b is available in the given list")
c=b/a
if ( c in list ):
 print ("Line 3 - a is available in the given list")
else:
 print ("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [ ]:
var1 = 100
if var1:
 print ("1 - Got a true expression value")
 print (var1)
var2 = 0
if var2:
 print ("2 - Got a true expression value")
 print (var2)
print ("Good bye!")

1 - Got a true expression value
100
Good bye!

In [30]:
amount=int(input("Enter amount: "))
if amount<1000:
 discount=amount*0.05
 print ("Discount",discount)
elif amount<5000:
 discount=amount*0.10
 print ("Discount",discount)
else:
 discount=amount*0.15
 print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 2300
Discount 230.0
Net payable: 2070.0

In [32]:
num=int(input("enter number"))
if num%2==0:
 if num%3==0:
  print ("Divisible by 3 and 2")
 else:
  print ("divisible by 2 not divisible by 3")
else:
 if num%3==0:
  print ("divisible by 3 not divisible by 2")
 else:
  print ("not Divisible by 2 not divisible by 3")

enter number7
not Divisible by 2 not divisible by 3

In [35]:
count = 1
while(count<=6):
  print("count is",count)
  count=count+2
print("loop terminates")

count is 1
count is 3
count is 5
loop terminates

In [36]:
n=int(input("enter a number"))
count = 1
while(count<=n):
  print("count is",count)
  count=count+2
print("loop terminates")

enter a number100
count is 1
count is 3
count is 5
count is 7
count is 9
count is 11
count is 13
count is 15
count is 17
count is 19
count is 21
count is 23
count is 25
count is 27
count is 29
count is 31
count is 33
count is 35
count is 37
count is 39
count is 41
count is 43
count is 45
count is 47
count is 49
count is 51
count is 53
count is 55
count is 57
count is 59
count is 61
count is 63
count is 65
count is 67
count is 69
count is 71
count is 73
count is 75
count is 77
count is 79
count is 81
count is 83
count is 85
count is 87
count is 89
count is 91
count is 93
count is 95
count is 97
count is 99
loop terminates

In [42]:
range(10)
print(range)

<class 'range'>

In [55]:
#!/usr/bin/python3
numbers=[11,33,55,39,55,75,37,21,23,13,13]
for num in numbers:
 if num%2==0:
  print ('the list contains an even number')
  break
else:
 print ('the list doesnot contain even number')

the list doesnot contain even number